.divider {
  border-top: 1px solid var(--color-text);
}

.title {
  background: none;
  border: none;
  color: white;
}

.title:focus {
  outline: none;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  float: right;
}

.widgetDraggable:hover {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
}

.widgetDraggable:active {
  cursor: grabbing;
}
