.inline {
  padding: 0em 0.2em 0.2em 0.2em;
  background-color: var(--color-navbar-bg);
  color: var(--color-text);
  border: 0px;
  outline: 0px;
  transition: var(--time-easing);
  cursor: pointer;
  border-radius: 0;
}

.inline:hover {
  background-color: var(--color-hover);
}

.inline:active {
  background-color: var(--color-active);
}

.inline:visited {
  border: 0px;
  outline: 0px;
}

.bar {
  padding: 0.3em 1em 0.2em 1em;
  background-color: var(--color-option-bar);
}

@media only screen and (max-width: 830px) {
  .bar {
    padding: 0.3em 0.5em 0.2em 0.5em;
    background-color: var(--color-option-bar);
  }
}

.active {
  color: var(--color-text-active);
  background-color: var(--color-navbar-bg);
}
