.leftColSideBar {
  padding: 15px;
  background-color: var(--bg-color);
  align-content: left;
  width: 120%;
}

.rightColSideBar {
  background-color: var(--bg-color);
  padding: 0;
}

.flexColumn {
  align-content: left;
}

.mainmodal {
  opacity: 0.9;
  position: fixed;
  overflow: visible;
  left: 0;
  top: 0px;
  width: 25%;
  height: calc(100% - 72px);
  margin: 0;
  max-width: none !important;
}

.header {
  overflow: hidden;
  background-color: var(--color-modal-bg);
  height: 7vh;
}

.body {
  background-color: var(--color-modal-bg);
  height: 92.5vh;
}

.footer {
  overflow: hidden;
  background-color: var(--color-modal-bg);
  height: 10vh;
}

.nav_icon {
  height: 100%;
  width: var(--navbar-left-compressed);
  background-size: calc(var(--navbar-items-height) / 2);
  background-position: 50%;
  background-repeat: no-repeat;
  margin-right: 10px;
  margin-left: 5px;
  filter: invert(0.8);
}

@media only screen and (max-width: 1500px) {
  .mainmodal {
    left: 19%;
    width: 60%;
  }
}

@media only screen and (max-width: 1300px) {
  .mainmodal {
    left: 14%;
    width: 70%;
  }
}

@media only screen and (max-width: 900px) {
  .mainmodal {
    position: unset;
    left: unset;
    width: unset;
  }
  .leftColSideBar {
    width: 100%;
  }
  .header {
    overflow: hidden;
    background-color: var(--color-modal-bg);
    height: auto;
  }

  .body {
    overflow: scroll;
    background-color: var(--color-modal-bg);
    height: auto;
  }
}
