.bar {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: var(--options-bar-height);
  background-color: var(--color-option-bar-bg);
  z-index: 998;
}

.wrapper {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemSplit {
  margin-left: auto;
}

.live {
  /* position: absolute;
  bottom: 0; */
}

.data {
  /* Bar needs to be repositioned in .tsx as well */
  /* position: absolute;
  bottom: 0; */
}

.admin {
  /* position: absolute;
  bottom: 0; */
}

.left {
  left: 0;
}

/* Hide the scroll bar */
html {
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 730px) {
  .bar {
    height: calc(2 * var(--options-bar-height));
  }
  .live_wrapper_scaling {
    min-width: calc(100vw / 4);
  }

  .itemSplit {
    margin-left: 0;
  }

  .live_wrapper_scaling {
    overflow: unset;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 550px) {
  .bar {
    height: calc(2 * var(--options-bar-height));
  }
  .live_scaling {
    width: calc(100vw / 5);
  }

  .live_wrapper_scaling {
    font-size: 12px;
  }
}
