/* Makes charts have nice isolated scrolling */
.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 0;
  margin-bottom: 0;
  height: calc(100vh - var(--navbar-top-height) - var(--options-bar-height));
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera*/
.scrollable::-webkit-scrollbar {
  display: none;
}
