.column_scroll {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: auto;

  /* The extra 18px removed accounts for the status bar*/
  height: calc(100vh - var(--options-bar-height));
}

/* Hide scrollbar for Chrome, Safari and Opera */
.column_scroll::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .column_scroll {
    height: calc(100vh - var(--options-bar-height));
  }
}

@media only screen and (max-width: 767px) {
  .column_scroll {
    -ms-overflow-style: unset;
    scrollbar-width: unset;
    overflow: unset;
    height: unset;
  }

  .column_scroll::-webkit-scrollbar {
    display: unset;
  }
}
