#charts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background-color: yellow; */
  flex-grow: 1;
}

.yAxisText {
  fill: var(--color-text);
  font-size: 15px;
  /* font-weight: bold; */
}

.xAxisText {
  fill: var(--color-text);
  font-size: 20px;
  font-weight: bold;
}

.chartLines,
.line {
  stroke: var(--color-chartline);
  stroke-width: 2;
}

.chartLines-torque,
.line {
  stroke: var(--color-sim-chart-torque);
  stroke-width: 2;
}

.chartLines-BSFC,
.line {
  stroke: var(--color-sim-chart-BSFC);
  stroke-width: 2;
}

.grid line {
  stroke-width: 0.6;
  stroke: #adadad;
}

.grid-horizontal line {
  stroke-width: 0.6;
  stroke: #adadad;
}

.grid-vertical line {
  stroke-width: 0.6;
  stroke: #adadad;
}

.x-axis line,
.y-axis line {
  stroke: var(--color-text);
}

.x-axis text,
.y-axis text {
  fill: var(--color-text);
  font-size: 12px;
  font-weight: bold;
}

#halt-container {
  color: var(--color-text);
  display: block;
  padding-right: 50px;
  margin-left: auto;
}

.power-curve {
  fill: #1abeed;
}

.power-circle {
  fill: #00708f;
}

.torque-circle {
  fill: #a66100;
}

.BSFC-circle {
  fill: #206e2e;
}

.torque {
  fill: var(--color-sim-chart-torque);
}

.BSFC {
  fill: var(--color-sim-chart-BSFC);
}

.legend-text {
  fill: var(--color-text);
  font-size: 20px;
  font-weight: bold;
}

.y-axis-power text {
  fill: var(--color-sim-chart-power);
  font-size: 12px;
  font-weight: bold;
}

.y-axis-torque text {
  fill: var(--color-sim-chart-torque);
  font-size: 12px;
  font-weight: bold;
}

.y-axis-BSFC text {
  fill: var(--color-sim-chart-BSFC);
  font-size: 12px;
  font-weight: bold;
}
